header {
  padding: 10px;
  text-align: left;
  background: rgb(4, 4, 39);
  color: white;
}

nav {
  display: flex;
  background-color: rgb(150, 20, 11);
  justify-content: flex-end;
}
nav a {
  color: rgb(12, 13, 15);
  padding: 7px;
  text-align: right;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.Aboutme {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Projects {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Resume {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Comingsoon {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.Contactme {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
footer {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgb(150, 20, 11);
  bottom: 0;
}
