/* Set style for header */
header {
  padding: 10px;
  text-align: left;
  background: rgb(4, 4, 39);
  color: white;
}

/* made flex box with the nav */
nav {
  display: flex;
  background-color: rgb(116, 9, 9);
  justify-content: flex-end;
}
nav a {
  color: rgb(12, 13, 15);
  padding: 7px;
  text-align: right;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* aligned pictures in a column using flex box */
.pictures {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
/* Changed font family */
.Aboutme {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Projects {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Resume {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Comingsoon {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.Contactme {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Added footer flex box  */
footer {
  display: flex;
  width: 100%;
  background-color: rgb(116, 9, 9);
  bottom: 0;
  justify-content: flex-end;
}

/* Changed font family for footer */
footer li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* Media Query's */
/* Tablet view settings */
@media screen and (max-width: 992px) {
  header {
    background-color: blue;
    flex-direction: column;
    justify-content: stretch;
  }
  nav {
    padding: 1%;
  }
}
