header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(34, 41, 139);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}
li,
a,
button {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.pics {
  list-style: none;
}
.pics li {
  display: inline-block;
  padding: 0px 20px;
}
.pics li a:hover {
  color: rgb(23, 102, 133);
}
/* Added button styles */
button {
  margin-left: 20px;
  padding: 8px 25px;
  background-color: rgb(23, 102, 133);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(71, 71, 69);
}
.photofme {
  display: flex;
  margin-right: auto;
}
/* aligned pictures in a column using flex box */
.pictures {
  display: fclex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
/* Changed font family */
.Aboutme {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Projects {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Resume {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Comingsoon {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.Contactme {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Added footer flex box  */
footer {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgb(34, 41, 139);
  bottom: 0;
  justify-content: flex-end;
}

/* Changed font family for footer */
footer li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* Media Query's */
/* Tablet view settings */
@media screen and (max-width: 992px) {
  header {
    background-color: blue;
    flex-direction: column;
    justify-content: stretch;
  }
  nav {
    padding: 1%;
  }
  footer {
    background-color: blue;
    flex-direction: column;
    justify-content: stretch;
  }
}
