* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
nav {
  padding: 250px;
}
#background {
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVuJTIwcGljc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  border: solid 5px gray;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
#bio-picture {
  margin-top: 100px;
  margin-left: 100px;
}

main {
  font-size: 2.5rem;
}
h2 {
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* border: 10px solid black; */
}
.column-card {
  flex: 1 0 50%;
  margin: 1rem;
  border: 1rem solid gray;
}
.card {
  display: flex;
  flex-direction: column;
}
p {
  font-size: 1.5rem;
  font-weight: bold;
}
footer {
  background-color: 27539c;
  height: auto;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-break: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
/* .socials li:not(:first-child)::before {
      content: " | ";
  } */
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(6, 13, 109);
}
.footer-bottom {
  background-color: #000;
  width: 100vw;
  padding: 10px;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

#weather-project-img {
  background-image: url("https://images.unsplash.com/photo-1581390114939-946f9a890a7f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9sbHl3b29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#workday-schedule {
  background-image: url("https://images.unsplash.com/photo-1523289333742-be1143f6b766?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGxhbm5lcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#code-quiz {
  background-image: url("https://images.unsplash.com/photo-1527219525722-f9767a7f2884?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fG5vdGUlMjB0YWtlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#password-generator {
  background-image: url("https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cmVjaXBlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}

@media screen and (min-width: 768px) {
  .column-card {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
